
<footer class="footer mt-auto py-3 text-center">
        <p class="mb-0">First Project “Secure Communication Protocol Implementation”</p>
        <p class="mb-0">Cryptography 2025-1</p>
</footer>

<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 